.filters {
    color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color:  #FFFFFF;
    height: 45px;
    width: 20%;
    border-radius: 4px;
    border-style: none;
    float: right;
    margin-right: 30px;

}

button:hover {
    opacity: 90%;
}