.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #fff;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #dddddd;
    display: inline-block;
	vertical-align: middle;
    margin-left: 45px;
    line-height: 20px;
    border: 0;
    margin: auto 30px;
}

.amenities {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
    width: 25%;
	margin-left: 45px;
    line-height: 20px;
    margin: auto 30px;
}

.popover {
    list-style-type: none;
	display: none;
	background-color: #FAFAFA;
	width: 100%;
	margin-right: 10px;
	margin-top: 8px;
	padding: 25px 0px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.locations:hover .popover {
    display: flex;
    justify-content: start;
    flex-direction: column;
    z-index: 999;
    margin-left: -30px;
    
}

.amenities:hover .popover {
    display: block;
    z-index: 999;
}

ul {
    list-style: none;
    padding-bottom: 20px;
    padding: 0;
}

h2 {
    font-size: 16px;
	padding-left: 40px;
	margin: 0px;
}

h3 {
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 5px;	
}

h4 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 12px;
}

button {
    color: #FFFFFF;
	font-size: 18px;
	height: 48px;
	width: 20%;
	background-color: #FF5A5F;
	border-style: none;
	border-radius: 4px;
	float: right;
	margin-top: 11px;
	margin-bottom: 11px;
	margin-right: 30px;

}

button:hover {
    opacity: 90%;
}
